<% if notice || alert %>
  <div class="results-block">
    <%= render 'layouts/messages' %>
  </div>
<% end %>

<% if @users.present? %>
  <div class="card card-header results-block">
    <% @users.each do |user| %>
      <% unless current_user.has_friend?(current_user, user) %>
        <p class="pb-1">
          <strong>Name: </strong> <%= user.full_name %>
          <strong>Email: </strong> <%= user.email %>
          <%= link_to 'Follow friend?', friendships_path(friend: user),
                      method: :post, class: "btn btn-sm btn-success" %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
